/* zneiat/slisten-web */
html {
}

body {
    font-family: "Helvetica Neue", "PingFangSC-Light", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #535f6f;
    background-color: #FFF;
}

a {
    text-decoration: none !important;
    transition: all .2s ease-in-out;
}

label {
    color: #000;
}

/* anim */
.anim-fade-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.anim-fade-out {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}

.anim-flash {
    -webkit-animation-name: flash;
    animation-name: flash
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }

    0% {
    }
}

@keyframes flash {
    0%,50%,to {
        opacity: 1
    }

    25%,75% {
        opacity: 0
    }
}

/* page-loader */
.loading-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #f3f3f3;
    z-index: 999999999;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    display: flex;
}

.loading-layer-text {
    display: flex;
    margin-top: 25px;
    color: #737373;
    font-size: 16px;
    text-align: center;
}

.loading-spinner {
    position: relative;
    width: 50px;
    height: 50px
}

.loading-spinner svg {
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.loading-spinner svg circle {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;
    stroke-linecap: round
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35px
    }

    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124px
    }
}

@keyframes color {
    0%,100% {
        stroke: #ff5652
    }

    40% {
        stroke: #2196F3
    }

    66% {
        stroke: #32c787
    }

    80%,90% {
        stroke: #ffc107
    }
}

/* form */
.form-control {
    box-shadow: none;
    border-color: #c9d8db;
    border-radius: 0;
    transition: border-color .2s;
}

.form-control:focus {
    box-shadow: none;
    border-color: #0083ff;
}

.has-error .form-control {
    border-color: #f44336;
    box-shadow: none;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error.checkbox-inline label, .has-error.checkbox label, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.radio-inline label, .has-error.radio label {
    color: #f44336;
}

.has-error .form-control:focus {
    border-color: #f44336;
    box-shadow: none;
}

.btn-app {
    display: inline-block;
    border: 1px solid transparent;
    letter-spacing: 0.091em;
    cursor: pointer;
    padding: 6px 25px;
    font-size: 13px;
    line-height: 1.6;
    text-align: center;
    color: #455a64;
    outline: none;
    transition: background-color .2s;
    user-select: none;
    vertical-align: middle;
}

.btn-app.submit-btn {
    border-color: #c9d8db;
    background-color: transparent;
}

.btn-app.submit-btn:hover {
    color: #FFF;
    border-color: #000;
    background: #000;
}

.btn-app.btn-link {
    color: #3091bf;
    padding: 6px 4px;
}

.btn-app.btn-link:hover {
    color: #455A64;
}

.btn-app:not(:last-child) {
    margin-right: 1.5rem;
}

/* zneiat/notify-z */
.notify-layer {
    position: fixed;
    top: 75px;
    right: 3rem;
    width: 280px;
    z-index: 1001;
    opacity: .83;
}

.notify-layer .notify-item {
    display: block;
    overflow: hidden;
    background-color: #2c2c2c;
    border-color: #2c2c2c;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
}

.notify-layer .notify-item:not(:last-child) {
    margin-bottom: 15px;
}

.notify-layer .notify-item.type-s {
    color: #FFF;
    background: #57d59f;
}

.notify-layer .notify-item.type-e {
    color: #FFF;
    background: #ff6f6c;
}

.notify-layer .notify-item.type-w {
    color: #FFF;
    background: #ffc721;
}

.notify-layer .notify-item.type-i {
    color: #FFF;
    background: #2ebcfc;
}

.notify-layer .notify-item p {
    line-height: 1.8;
    padding: 10px 20px;
    margin: 0;
    text-align: center;
}

.notify-anim-fade-in {
    -webkit-animation-name: notifyFadeIn;
    animation-name: notifyFadeIn;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.notify-anim-fade-out {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}

@keyframes notifyFadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes notifyFadeOut {
    100% {
        opacity: 0;
    }

    0% {
    }
}

/* navbar */
.navbar-app {
    background-color: #FFF;
    border-bottom: 0;
}

.navbar-app a {
    color: #121212;
}

.navbar-app .navbar-toggle .icon-bar {
    background-color: #121212;
}

.navbar-app .navbar-brand {
    color: #0083ff;
    padding-right: 25px;
}

.navbar-app .nav > li.active > a,
.navbar-app .nav> li > a:focus,
.navbar-app .nav> li > a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #0083ff;
}

/* home */
.home-wrap-app {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 180px);
}

.home-actions-app {
    display: flex;
}

.home-action-item-app {
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 1px;
    padding: 20px 0;
    transition: all 0.2s;
    border: 1px solid transparent;
}

.home-action-item-app:hover {
}

.home-action-item-app > i {
    color: #455A64;
    font-size: 5rem;
    transition: font-size 0.2s, color 0.2s;
    display: block;
    line-height: 14rem;
}

.home-action-item-app:hover > i {
    color: #F44336;
    font-size: 5.3rem;
}

.home-actions-app :nth-child(1) .home-action-item-app:hover > i {
    color: #2196f3;
}

.home-actions-app :nth-child(1) .home-action-item-app:hover .home-action-label {
    background-color: #2196f3;
}

.home-actions-app :nth-child(2) .home-action-item-app:hover > i {
    color: #f44336;
}

.home-actions-app :nth-child(2) .home-action-item-app:hover .home-action-label {
    background-color: #f44336;
}

.home-actions-app :nth-child(3) .home-action-item-app:hover > i {
    color: #009688;
}

.home-actions-app :nth-child(3) .home-action-item-app:hover .home-action-label {
    background-color: #009688;
}

.home-action-label {
    display: block;
    line-height: 4rem;
    font-size: 1.8rem;
    color: #455A64;
    transition: background-color 0.2s;
    padding: 0 10px;
}

.home-action-item-app:hover .home-action-label {
    color: #FFF;
    background: #455A64;
}

/* .panel-app */
.panel-app {
    box-shadow: none;
}

.panel-app .panel-title-line {
}

.panel-app .panel-title-line > .title {
    line-height: 70px;
    margin: 0 auto;
    font-size: 23px;
    background: #fff;
    color: #000;
    border-left: 2px solid #000;
    padding-left: 20px;
}

.panel-app .panel-body {
    padding: 0;
    padding-top: 10px;
}

/* .auth-form-app */
.auth-form-app {}

.auth-form-app .form-control {
    letter-spacing: 0.05em;
    transition: border-color .2s;
    color: #000;
}

.auth-form-app .form-control:focus {
    border-color: #000;
}

.auth-form-app .form-control::-webkit-input-placeholder {
  color: #455A64;
}

.auth-form-app .form-control::-moz-placeholder {
  color: #455A64;
}

.auth-form-app .form-control:-ms-input-placeholder {
  color: #455A64;
}

.write-form {}

.write-form-loading,
.write-form-success {
    width: 100%;
    height: calc(50vh);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.write-form-loading .loading-text {
    margin-top: 40px;
}

.write-form-success {}

.write-form-success .big-ico {}

.write-form-success .big-ico > i {
    font-size: 6rem;
    color: #8bc34a;
}

.write-form-success .success-text {
    margin-top: 30px;
    font-size: 20px;
}

/* .post-list */
.post-list {
    padding: 0 0 20px 0;
}

.post-list .post-item {
}

.post-list .post-item:not(:last-child) {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #EEE;
}

.post-list .post-item .post-short-content {
    word-wrap: break-word;
    line-height: 1.7;
    font-size: 16px;
}

.post-list .post-item .post-short-content .post-sign {
    font-size: 13px;
    margin-left: 10px;
    color: #679ed2;
    vertical-align: bottom;
}

.post-list .post-item .post-actions {
    margin-top: 20px;
}

.post-list .post-item .post-read-more-btn {
    border: 1px solid #455A64;
    padding: 5px 20px;
}

.post-list .post-item .post-read-more-btn:hover {
    background-color: #455A64;
    color: #FFF;
}

.post-list .post-item.admin-has-read .post-actions:after {
    content: '\f26b';
    font-family: 'Material-Design-Iconic-Font';
    display: inline-block;
    font-size: 20px;
    padding: 0 10px;
    font-weight: bold;
    margin-left: 15px;
    color: #14e48b;
    vertical-align: middle;
}


/* .post-view */
.post-view {}

.post-view .post-content {
    word-wrap: break-word;
    padding: 10px 0;
    font-size: 20px;
}

.post-view .post-content-bottom {
    border-top: 1px dashed #EEE;
    margin-top: 20px;
    overflow: hidden;
    padding: 15px 20px;
}

.post-view .post-content-bottom .post-sign {
    float: right;
    font-size: 14px;
    color: #679ed2;
}

.post-view .post-comments {}

.post-view .post-comments .comment-list {
    padding: 10px 0;
    margin-bottom: 10px;
}

.post-view .post-comments .comment-send {}

.post-view .post-comments .comment-send-form {}

.post-view .post-comments .comment-send-form .simditor-body {
    min-height: 230px;
}

.post-view .post-comments .comment-send-form-loading,
.post-view .post-comments .comment-list-loading {
    width: 100%;
    height: 230px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}